{% extends 'retailer/retailerBase.html' %}
{% block title %}
<title>Edit Product</title>
{% endblock title %}

{% block scripts %}
<script src="/static/js/editProduct.js"></script>
{% endblock scripts %}

{% block body %}
    {% if method == 'GET' %}
        <div ng-controller="retailerEditController" id="page-wrapper">
            <div>
                <h2>Edit Product</h2>
            </div>
            <form method="post" action=".">
                {% csrf_token %}
                <table>
                    <tbody>
                        <tr>
                            <th>
                                <label for="id_name">Name:</label>
                            </th>
                            <td>
                                <input id="id_name" maxlength="100" name="name" ng-model="productDetails.name" type="text">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="id_price">Price:</label>
                            </th>
                            <td>
                                <input id="id_price" min="0" name="price" type="number" ng-model="productDetails.price">
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="id_image">Image:</label>
                            </th>
                            <td>
                                <img ng-src="{(productDetails.image)}" height="190" width="175">
                                <input id="id_image" name="image" type="file" >
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="id_category">Category</label>
                            </th>
                            <td>
                                <select name="category" ng-model="categoryDetails.id" ng-options="c.id as c.name for c in categories"></select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">Edit</button>
            </form>
        </div>
    {% endif %}
{% endblock body %}